<div class="user-profile">
  <h3><%= @user.first_name %> <%= @user.last_name %><h3>

  <h4>Favorite Beers:</h4>
  <div class="row">
    <% @fav_beers.each do |beer| %>
      <div class="col-md-3 col-sm-4">
        <div class="favorite">
          <div class="image-thing">
            <%= image_tag("#{beer.img}") %>
          </div>
          <div class="favorite-icon">
            <h4><%= link_to beer.name, beer_path(beer) %>
              <div class="score">
                <%= beer.score %>
              </div>
            </h4>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <h4>Recommendations:</h4>
  <div class="row">
    <div class="col-sm-12">
      <div class="recommendations">
        <ul>
          <% @recommendations.each do |beer| %>
            <li><%= link_to beer.name, beer_path(beer) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
