<%= @user.first_name %> <%= @user.last_name %><br/>
Beer Lists:
<ul>
  <% @user.lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>

Favorite Beers:
<ol>
  <% @fav_beers.each do |beer| %>
    <li><%= link_to beer.name, beer_path(beer) %>, <%= beer.score %></li>
  <% end %>
</ol>

Recommendations:
<ul>
  <% @recommendations.each do |beer| %>
    <li><%= link_to beer.name, beer_path(beer) %>
  <% end %>
</ul>
