<div class="beer-info">
  <h3><%= @beer.name %></h3>
  Brewery: <%= @beer.brewery %><br>
  <% if @beer.description %>
    Description: <%= @beer.description %><br>
  <% end %>
  <% if @beer.style %>
    Style: <%= @beer.style %>
  <% end %><br>
  <% if @beer.abv %>
    ABV: <%= @beer.abv %>%<br>
  <% end %>
  <% if @beer.ibu %>
    IBU: <%= @beer.ibu %>
  <% end %>
</div>
<br>
<div id="Rating"/>
