<div class="beer-info">
  <%= @beer.name %><br>
  Brewery: <%= @beer.brewery %><br>
  <%= @beer.description %><br>
  <% if @beer.style %>
    Style: <%= @beer.style %>
  <% end %><br>
  <% if @beer.abv %>
    ABV: <%= @beer.abv %>%<br>
  <% end %>
  <% if @beer.ibu %>
    IBU: <%= @beer.ibu %>
  <% end %>
</div>
<div id="Rating"/>
