<!DOCTYPE html>
<html>
  <head>
    <title>BrewMaster</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
  </head>

  <body>
    <div id="user-email">
      <% if user_signed_in? %>
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add a New List!</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= form_for(@new_list) do |f| %>
              <div class="field">
                <%= f.label :name %><br/>
                <%= f.text_field :name %>
              </div>

              <div class="field">
                <%= f.label :description %><br/>
                <%= f.text_field :description %>
              </div>

              <div class="actions">
                <%= f.submit(value="Submit", class:"btn btn-sm btn-primary") %>
              </div>

              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="header">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-3">
              <div class="header-logo">
                BREWMASTER
              </div>
            </div>
            <div class="col-sm-9">
              <div class="header-nav">
                <ul>
                  <li>Welcome, <strong><%= current_user.first_name %></strong>!</li>
                  <li><%= link_to "Beer!", beers_path %></li>
                  <li>
                    <%= link_to "Lists", lists_path %>
                    <ul class="sub-nav">
                      <li><%= link_to "All Lists", lists_path %></li>
                      <li><a href="javascript:;" data-toggle="modal" data-target="#myModal">New List</a></li>
                    </ul>
                  </li>
                  <li>
                    <%= link_to "Profile", user_path(current_user) %>
                    <ul class="sub-nav">
                      <li><%= link_to "View", user_path(current_user) %></li>
                      <li><%= link_to "Edit", edit_user_registration_path(current_user) %></li>
                    </ul>
                  </li>
                  <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid main-content">
        <div>
          <div class="row">
            <div class="col-sm-2 no-padding">
              <div class="list-sidebar">
                <h4>Your Lists!</h4>
                <ul>
                  <% current_user.lists.each do |list| %>
                    <li><%= link_to list.name, list_path(list) %></li>
                  <% end %>
                </ul>
              </div>
            </div>
            <div class="col-sm-10">
              <div class="page-content">
                <%= yield %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% else %>
        <%= yield %>
      <% end %>
    </div>
  </body>
</html>
